{% extends "base.html" %}
{% load static %}



{% block body %}

    <section class="hero">
        <div class="hero-content">
            <h1>Find Your Perfect Hostel</h1>
            <p>Discover comfortable and affordable accommodations near your college</p>
           <a href="home/" class="explore-btn">
    Explore Now
    <i class="fas fa-arrow-right"></i>
</a>
        </div>
        <div class="hero-image">
            <img src="https://images.unsplash.com/photo-1560185007-5f0bb1866cab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="Modern Hostel">
        </div>
    </section>
{% endblock body %}